{% extends 'base.html.twig' %}

{% block title %}Your Mangashelf{% endblock %}

{% block main %}
    <h1>Mangashelf Details</h1>

    {% if mangashelf %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ mangashelf.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ mangashelf.name }}</td>
                </tr>
                <tr>
                    <th>Mangas</th>
                    <td>
                        <ul>
                            {% for manga in mangashelf.mangas %}
                                <li>{{ manga.name }} by {{ manga.author }}</li>
                            {% else %}
                                <li>No mangas found in this shelf.</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>No Mangashelf found for the user.</p>
    {% endif %}
{% endblock %}
