
{% extends 'mangalist.html.twig' %}


  {% block body %}
      <h1>Mangashelf</h1>
      <table class="table">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ mangashelf.id }}</td>
              </tr>
              <tr>
                  <th>mangashelf</th>
                  <td>{{ mangashelf.name }}</td>
              </tr>
              <tr>
                  <th>Mangas:</th>
                  <td>
                  <ul>
                    {% block list %}
                        {% include 'mangalist.html.twig' with {'items': mangashelf.mangas} %}
                    {% endblock %}
                  </ul> 
                  </td>
              </tr>
          </tbody>
      </table>
    <a href="{{ path('mangashelf_list') }}">back to list</a>
  {% endblock %} {# body #} 
{# ... #} 
