{% extends 'base.html.twig' %}

{% block title %}Edit Mangatheque{% endblock %}

{% block main %}
    <h1>Edit Mangatheque</h1>

    {{ include('mangatheque/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mangatheque_index') }}">back to list</a>

    {{ include('mangatheque/_delete_form.html.twig') }}
{% endblock %}
